.App {
  text-align: center;
  
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.App-header {
  background-color: #293428;
  min-height: 100vh;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
  
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(42, 100, 82, 0.549);
  color: #333;
  padding: 10px;
  font-size: 14px;
  justify-content: center;
  height: 50px; /* Adjust the height of the footer as needed */
}


.header {
  
  padding-bottom: 20px;
  margin-right: 20px;

}

.calendar{
  padding-bottom: 50px;
  position: relative;
  height: calc(100vh - 200px); /* subtract the height of the footer from the viewport height */
  overflow-y: auto;
}


